@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', sans-serif;
}

@layer base {
  body {
    color: #333;
  }

  .content {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
